.root{
    -fx-background-color: #000000;
}


.button{
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
    -fx-background-color: #002eff;
    -fx-text-fill: white;
    -fx-font-size:18px;
    -fx-font-weight:bold;
    -fx-font-family: "Courier New";
    -fx-background-radius:12;
    -fx-cursor:hand;
}

.button:hover {
    -fx-background-color: #00a2d6;
}