.root{
    -fx-background-color: #000000;
}

.button{
    -fx-pref-width: 190px;
    -fx-pref-height: 40px;
    -fx-background-color: #7904bd;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight:bold;
    -fx-font-family: "Courier New";
    -fx-background-radius: 11;
    -fx-cursor:hand;
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-background-color: #9566b0;

}
.pause-btn:pressed {
    -fx-background-color: #4f5052;
}

.pause-menu{
    -fx-alignment: center;
    -fx-background-color: rgba(40, 40, 40, 0.9);
    -fx-padding: 30;
    -fx-background-radius: 10;
}
.pause-title{
    -fx-text-fill: white;
    -fx-font-family: "Lucida Console";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
