.root {
    -fx-background-image: url("background_image.png");
}

.nextBrick {
    -fx-border-width: 2px;
    -fx-border-color: whitespace;
    -fx-border-radius: 17px;
}
#scoreLabel {
    -fx-font-size: 38px;
    -fx-text-fill: #00ffff;
    -fx-font-family: "Let's go Digital";
    -fw-background: red;
    -fx-font-weight: bold;
}
.info-box{
    -fx-border-color: #555;
    -fx-border-width: 2;
    -fx-background-color: #222;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-alignment: center;
}
.info-title {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.info-value {
    -fx-text-fill: #00ffff;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.pause-btn {
    -fx-background-color: #7904bd;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-border-color: #7904bd;
    -fx-border-width: 2;
    -fx-background-radius: 3;
    -fx-border-radius: 4;
}
.pause-btn:hover {
    -fx-background-color:#9566b0;

}
.pause-btn:pressed {
    -fx-background-color: #4f5052;
}
.gameBoard {
    -fx-border-color: linear-gradient(#2A5058, #61a2b1);
    -fx-border-width: 5px;
    -fx-border-radius: 0px;
}
.ipad-dark-grey {
    -fx-background-color: linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#020b02, #3a3a3a),
    linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
    linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
    linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 60px;
    -fx-font-weight: bolder;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 50px;
    -fx-background-color: red;
    -fx-font-fill: #000000;
}
